@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,700&display=swap");

:root {
  --primary: #f46500;
  --secondary: #264301;
}
* {
  font-family: Manrope;
}

a {
  text-decoration: none !important;
}

main {
  height: 100vh !important;
  border: 2px solid black;

  flex-wrap: nowrap;
}
.left-container {
  height: 90%;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-left: 7rem;
}

.img-container {
  height: 50%;
  width: 50%;
  margin-left: 5%;
  background: url("https://s3-alpha-sig.figma.com/img/316f/edf8/48ba0a8f18eb3b627dc3af5cf10d06f5?Expires=1691971200&Signature=dFqpPGTewNrm-BRIitou1qDUSy4VMpOjpRPhgjLx~jWIBVLdb7f4SKBKnW6N252~MyT7MZobEh0PJBJLrYHnyN64KmyIDMAh7V1JnaSXsmlIHAJW0d7efV3JY8hcDOrUC1TUS6nUnqS3YDy0yXw5ZC9abP0WISuh6OmWEhY1-z5bX~R7Kz7~DoXJp-fXO9ghPSlWtsDXMs9TpYVjPQlc6rl1hD9MVpUIyZoeSBlsTStNrWBoX0XEPaVcdlmvS-uiiViozaxIqmNV8gGM5-Ya4en5-tXqmp6JrgDPVAd8-7Gs9ueB6yTvvIgJD~Y3jUSJP4HyzbKDKLUAaD~vR-hqbA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.circle {
  background-color: #f46500;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: absolute;
  right: -70px;
  bottom: 18%;
}
.circle-2 {
  width: 5rem;
  height: 5rem;
  background-color: #f5f0f6;
  right: -15px;
  bottom: 10%;
}
.circle-3 {
  width: 4rem;
  height: 4rem;
  background-color: #f46500;
  right: 7%;
  bottom: 4%;
}
.eclipses img {
  position: absolute;
  bottom: 10%;
  right: 5%;
}
form {
  margin: 0 auto !important;
  width: 70% !important;
}
form input,
.h6 {
  padding: 0.5rem !important;
  margin-bottom: 1.5rem;
}
.form input:focus {
  outline: 1px solid var(--primary) !important;
}
.btn {
  width: 100% !important;
  margin-bottom: 1rem;
  border: 1px solid var(--primary);
  background-color: var(--primary);
}
.social-btn button {
  background-color: transparent;
}
.btn .btn-primary {
  background-color: var(--primary) !important;
}

.btn:hover {
  color: #fff;
  background-color: var(--primary);
  border: 1px solid #f46500;
}

.btn svg {
  margin-right: 1rem !important;
}
.link-opacity-100 {
  color: var(--secondary);
}

/* @media screen and (max-width: 438px) {
  html {
    overflow-y: scroll;
  }
  main {
    display: block;
  }
  .left-container {
    display: none;
  }
  form {
    background-color: green;
    height: 50px;
    border: 1px solid blue;
  }
  .form input {
    width: 95%;
  }
} */
